@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color:#30a6aa;
    --hover-color:rgb(4, 199, 248);
    --transition:330ms ease-in-out;
    --box-shadow:rgba(53, 53, 53, 0.281) 0.5px 2px 6px;
    --text-shadow:rgba(0, 0, 0, 0.247) 1px 2px 4px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

        /* ----------------------------Nav Bar Style Below ------------------*/
.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    padding: 1em 0 ;
    background-color: rgb(3, 3, 3);
    z-index: 999;  
}

.logo {
    display: flex;
    align-items: center;  
        
}

.logo a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
    transition: var(--transition);
}

.logo a:hover {
    color:rgb(165, 231, 243);
    transform:scale(1.1);
}

.nav-bar-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    padding-left: 30px;    
}

.nav-bar-links a {
    display: flex;
    align-content: space-around;
    padding: 0 1em;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
    text-decoration: none;
    font-weight: 400;
    font-size:1.1em;
    transition: var(--transition);
}

.nav-bar-links a span {
    font-style: oblique;
    padding-left:0.2em;
}

.nav-bar-links a:hover {
    color:var(--hover-color);
    transform:scale(1.1);
   
}
/* ----------------------------Nav-Bar Style Above  ------------------*/


.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(199, 199, 199, 0.26);
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80%;
    max-width: 80vw;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20%;
  
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;       
}
img{
    opacity: 0.8;
    transition: var(--transition);
    border-radius: 50%/50%;
}
img:hover{
    opacity:0.9;
    box-shadow: var(--box-shadow);
    transform: scale(1.1);  
}

.welcome {
    color: rgb(161, 160, 160);
    text-shadow: var(--text-shadow);
    font-size: 1.8em;
    font-weight: 600;
    width: 55%;  
   

}


.name {
    display: inline-block;
    margin-left: 1em;
    font-size:1.5em;
    margin-top: 10px;
}
.name-btn {
    display: inline-block;
    margin-top: 10%;
    margin-left: 5%;
    padding:0.4em;
    color:rgb(77, 76, 76);
    font-size: 0.7em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.1em;   
    background-color: rgb(107, 237, 241);
    width: auto;    
    border-radius: 8px;
    border-color: rgb(148, 148, 148);
    border-width: 1.8px;
    box-shadow: var(--box-shadow);  
    transition: var(--transition); 
    
}

.name-btn:hover {
    background-color:var(--hover-color);
    transform:scale(1.1);
 
}
.social{
    margin-left: 2rem;
    margin-top: 4rem;
}
.fa-github-square{
    color: rgb(51, 51, 51);
}
.fa-facebook-square{
    color: rgb(56, 91, 248);
}
.fa-linkedin-in{
    color: rgba(0, 0, 255, 0.842);
}
.fa-youtube{
    color: rgb(211, 33, 33);
    font-size: 2.2rem;
}
.social a {
    display: inline-block;
    color: var(--main-color);
    text-shadow: var(--text-shadow);
    font-size: 2rem;    
    letter-spacing: 1em;
    transition: var(--transition);
}

.social a:hover {
    color:var(--hover-color);
    transform:scale(1.1);
   
}
#skills{
    width: 100%;
    height: 100vh;
}
.card-title::before{
    content: "";
    width: 100vw;
    height: 10vh;
    display: flex;
    position: relative;
    margin-top: -1rem;
}
.card-title {
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 62px;
    letter-spacing: 0.6rem;
    flex-direction: column;
    align-items: center;


}
.content {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: var(--transition);
}

.card-one, .card-two, .card-three, .card-four, .card-five, .card-six {
    background-color: white;
    width: 21em;
    box-shadow:var(--box-shadow) ;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.title-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
}
.fa-laptop-medical,
 .fa-app-store-ios,
  .fa-language,
   .fa-bullseye,
    .fa-satellite-dish,
    .fa-user-plus{
    color: #A73A00;
    font-size: 1.6rem;
}
.rm-cardthree, .rm-cardtwo, .rm-cardone, .rm-cardfour, .rm-cardfive, .rm-cardsix{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: inherit;
    transition: var(--transition);
}
:where(.rm-cardone,
 .rm-cardtwo, 
 .rm-cardthree,
  .rm-cardfour,
   .rm-cardfive,
    .rm-cardsix):hover{
    transform:scale(1.1);
}



@media (max-width: 575.98px) { 

 }

@media (max-width: 767.98px) { 

 }


@media (max-width: 991.98px) { 

 }


@media (max-width: 1199.98px) { 

}


@media (max-width: 1399.98px) { 
    
 }
